.about {
    background: rgb(241, 211, 239);
    display: flex;
    flex-flow: row nowrap;

    .about__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
    }
    .about__photos_image {
        width: 20%;
        height: 20%;
    }
}
