@mixin nav_font {
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    background: url('../../../img/firstBlockPicture.jpg') no-repeat scroll center;
    background-size: cover;
    z-index: 0;
}

.navbar {
    height: 80px;
    background: rgba(255, 255, 255, 0.74);
}

.nav {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -80px;
    height: 80px;
    z-index: 1;

    .nav__logo {
        color: rgb(51, 51, 51);
        font-family: 'Italiana', serif;
        font-size: 30px;
    }

    .menu {}

    .menu a {
        text-decoration: none;
    }

    .menu li {
        position: relative;
        list-style: none;
    }

    .menu__list {
        display: flex;
    }

    .menu__list>li {
        margin: 0 10px 0 0;
    }

    .menu__list>li:hover .sub-menu__list {
        display: block;
    }

    .menu__link {
        color: #bb2cf3;
        margin-right: 20px;
        transition-duration: 300ms;
        @include nav_font;
    }

    .menu__link:hover {
        padding: 5px 0 5px 0;
        color: #bb2cf3;
        border-top: 1px ridge #bb2cf3;
        border-bottom: 1px ridge #bb2cf3;
    }

    .sub-menu__list {
        display: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        min-width: 200px;
        position: absolute;
        left: -10px;
        top: 20px;
        padding: 30px 0 0 0;
    }

    .sub-menu__list>li {
        background: rgba(255, 255, 255, 0.74);
        padding: 5px 0 5px 0px;
    }

    .sub-menu__list>li:first-child {
        border-top: 1px solid #bb2cf3;
    }

    .sub-menu__list>li:last-child {
        border-bottom: 1px solid #bb2cf3;
    }

    .sub-menu__list>li:hover .sub-sub-menu__list {
        display: block;
    }

    .sub-menu__list>li:hover {
        background-color: rgba(187, 44, 243, 0.589);
    }

    .sub-menu__list>li:hover .sub-menu__link {
        color: rgb(255, 255, 255);
    }

    .sub-menu__link {
        display: inline-block;
        padding: 5px 10px;
    }

    ///////////////////////

    .sub-sub-menu__list {
        display: none;
        position: absolute;
        top: -1px;
        left: 100%;
        min-width: 275px;
        padding: 0 0 0 2px;
    }

    .sub-sub-menu__list>li {
        background: rgba(255, 255, 255, 0.74);
    }

    .sub-sub-menu__list>li:first-child {
        border-top: 1px solid #bb2cf3;
    }

    .sub-sub-menu__list>li:last-child {
        border-bottom: 1px solid #bb2cf3;
    }

    .sub-sub-menu__list>li:hover {
        background-color: rgba(187, 44, 243, 0.589);
    }

    .sub-sub-menu__list>li:hover .sub-sub-menu__link {
        color: rgb(255, 255, 255);
    }

    .sub-sub-menu__link {
        display: inline-block;
        padding: 5px 10px;
    }

    .arrow {
        display: none;
        position: absolute;
        right: 0;
        top: 7px;
        width: 0;
        height: 0;
        border-top: 10px solid #fff;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
    }

    .menu__arrow {}


    // ---------------------------------------------------------------------

    .nav__phone-block {
        max-width: 300px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;

        .nav__phone-icon {
            height: 18px;
            width: 18px;
            fill: rgb(51, 51, 51);
        }

        .nav__phone {
            @include nav_font;
        }
    }
}

.block-online {
    display: flex;
    flex-flow: column wrap;
    margin-top: 200px;
    min-height: 600px;
    max-height: 800px;

    .block-online__main-text {
        color: 	#FFD700;
        // color: 	#b8860b;
        font-family: 'Italiana', serif;
        font-size: 80px;
        text-transform: uppercase;
    }

    .block-online__main-text-description {
        margin-bottom: 35px;
        color: #FFD700;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
    }

    .block-online__main-text-motto {
        margin-bottom: 35px;
        color: #FFD700;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        text-decoration: overline;
    }

    .block-online__button {
        width: 280px;
        padding: 14px;
        color: rgb(219, 206, 206);
        background-color: #bb2cf3;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid rgb(185, 124, 167);
        border-radius: 12px;
        box-shadow: 0px 0px 8px 2px #bb2cf3;
        transition-duration: 0.5s;
    }

    .block-online__button:hover {
        color: rgb(51, 51, 51);
        background-color: #FFD700;
        border: 1px solid #FFD700;
        box-shadow: 0px 0px 4px 7px rgba(255, 224, 46, 0.5)
    }
}