.block_1 {
    background: url('../../img/firstBlockPicture.jpg') 0 0 fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

    .block_1__online {
        margin: 600px 0 700px 300px;
    }
}

.block_2 {
    margin-top: 1000px;
    position: relative;
    z-index: 1;
}

